@page "{handler?}"
@model AddressesModel
@{
}

<div>

    <h1 class="text-center mb-5">Addresses</h1>
    @if (@Model.View != null && @Model.View.Addresses != null)
    {
        <form method="post" asp-page="/Addresses/Addresses">
            <div class="row gap-3 justify-content-center mx-auto">
                @foreach (var address in @Model.View.Addresses!)
                {
                    <div class="card col-3">
                        <div class="card-body">
                            <h3 class="card-title text-center mb-3">Address @address.Id</h3>
                            @await Html.PartialAsync("_AddressPartialView", address)
                            <div class="row justify-content-center gap-2">
                                <div class="col-auto">
                                    <a asp-page="/AddressDetails" asp-route-id="@address.Id"><input type="button" class="btn btn-primary" value="More info"></a>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-primary" name="View.ButtonPressed" value="@address.Id">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </form>
    }

</div>